{% extends 'base.html' %}

{% block head %}
<title>Lido</title>
{% endblock %}


{% block body %}

<div class="container py-3 ">
    <a href="https://stake.lido.fi/" target="_blank">
        <img src="{{url_for('static',filename='img/lido_poster.png')}}" style="width: 100%;">
    </a>
    <h1 class="display-5 pt-5">
        Lido - Staking Liquefied
    </h1>
    <div class="container py-5">
        <div class="row d-flex align-items-center h-100">
            <div class="col mb-4 mb-lg-0">
                <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #a34e78;">
                    <blockquote class="blockquote pb-2">
                        <p>
                            The Lido Ethereum Liquid Staking Protocol, built on Ethereum 2.0's Beacon chain, allows
                            their users to earn staking rewards on the Beacon chain without locking Ether or maintaining
                            staking infrastructure.

                            Users can deposit Ether to the Lido smart contract and receive stETH tokens in return. The
                            smart contract then stakes tokens with the DAO-picked node operators. Users' deposited funds
                            are pooled by the DAO, node operators never have direct access to the users' assets.

                            Unlike staked ether, the stETH token is free from the limitations associated with a lack of
                            liquidity and can be transferred at any time. The stETH token balance corresponds to the
                            amount of Beacon chain Ether that the holder could withdraw if state transitions were
                            enabled right now in the Ethereum 2.0 network.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 font-italic">
                        Lido Docs
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <p>
        Lido is a liquid staking protocol. One which is very flexible in terms of staking assets into proof of stake
        networks or protocols.
        Generally proof-of-stake requires assets to be locked in the stake. This makes these assets illiquid. Lido
        solves this problem.
        Lido lets users stake their assets for daily staking rewards. User can stake any amount of tokens - no minimum.
        When staking Lido you mint staked tokens which are pegged 1:1 to your initial stake. Your staked tokens can be
        used across the DeFi ecosystem to compound your yield.
        Lido lets you use your staked assets to gain yield on top of yield. Use your tokens (which earn daily staking
        rewards) as collateral, for lending, yield farming and more.
    </p>
    <p>
        Lido achieves this by incentivizing liquidity providers on the secondary market, to provided liquidity to swap
        between the tokenized stake and the underlying asset.
        Curve is the go to for ETH swap for Lido. Lido's incentives keep a massive almost $5B TVL in the pool to
        exchange your tokenized stake into the underlying asset or vice versa. This allows Lido to keep its stake Liquid
        and thus allowing any user to exit the stake anytime.
    </p>
    <p>
        Lido also distributes staking rewards from the Beacon chain, to all wallets holding stETH. This is generally
        around 5%. A liquid staking option allows a user the flexibiity to take part in staking while also keeping the
        said asset liquid. Now the user can use his asset to other activities. Some common examples are farming.
    </p>
    <p>
        Few common farming strategies are provided in the dash, with their historical APRs over the past two months (to
        make it a fair comparison with bETH)
    </p>
</div>

<div class="container py-2">
    <h5>How to use this Dash</h5>
    <ul>
        <li>Few important metrics regarding the Lido stETH program is provided in the <strong>Dash</strong> page</li>
        <li>3 strategies, namely
            <ul>
                <li>HODLing</li>
                <li>Depositing on Yearn</li>
                <li>Using Anchor</li>
            </ul>
            are discussed to understand the real gain from liquid staking, i.e farming.The latest stats of these farming
            strategies will be displayed in the Dash, while historical stats are provided on their respective
            <strong>Strategy</strong> pages.
        </li>
        <li>For these strategies, metrics like APR, number of users invested in these strategies will be provided along
            with details and risks associated with the strategies, hence you can make an informed decision regarding
            your startegy to follow.</li>
        <li>The information regarding the methodology in obtaining these statistics will be provided in the
            <strong>Docs</strong> page</li>
    </ul>
</div>



{% endblock %}